<section class="get-in-touch">
    <div class="container">
        <div class="row align-items-center text-white">
            <h1 class="display-2 text-center">
                <span class="display-2--intro">The solution to your problem starts here</span>
            </h1>
        </div>
        <div class="align-items-center text-white d-lg-flex">
            <div class="main-left">
                <h1 class="display-2">
                    <span class="display-2--description lh-base">
                        <a routerLink="/" class="text-decoration-none">Appavenue</a> builds premium web and mobile applications for you. From the construction of the design to the deployment of your application, we give you a daily report to perfect your expectations.
                    </span>
                </h1>
            </div>
            <div class="main-right">
                <h1 class="display-2">
                    <span class="display-2--description lh-base">
                        You need :
                        <ul>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>to turn your web site into a mobile application</span>
                            </li>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>an icon, a logo, splashcreen and screenshots</span>
                            </li>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>an icon and screenshots</span>
                            </li>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>a maqette</span>
                            </li>
                            <li>
                                <i class="fas fa-check-circle"></i>
                                <span>other services for your application</span>
                            </li>
                        </ul>

                        <a routerLink="/" class="text-decoration-none">Appavenue</a> will offer you an optimal solution.
                    </span>
                </h1>
            </div>
        </div>
    </div>
</section>

<app-contact></app-contact>
