<!-- START THE INTRO SECTION -->
<app-intro-section></app-intro-section>

<!-- START THE COMPANIES SECTION -->
<!-- <app-campanies></app-campanies> -->

<!-- START SECTION 4 - THE SERVICES -->
<app-services></app-services>

<!-- START THE SECTION 5 - THE TESTIMONIALS -->
<app-testimonials></app-testimonials>

<!-- START SECTION 6 - THE FAQ -->
<app-faq></app-faq>

<!-- START SECTION 7 - THE PORTFOLIO -->
<app-portfolio></app-portfolio>

<!-- START SECTION 8 - GET STARTED -->
<app-contact></app-contact>