<div class="question">
    <div class="chat-ui">
        <div class="chat-scrollview">
            <div class="chat-messagelist">

                <div class="chat-cluster">
                </div>
                
                <div mine class="chat-cluster">
                </div>
            
            </div>
        </div>
        
        <div class="chat-authoring" contenteditable></div>
        <div class="sender" (click)="onSendMessage()">
            <i class="fas fa-paper-plane"></i>
        </div>
    </div>
</div>