
.carousel-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 67%;
    @media (min-width: 768px) {
        height: 55%;
    }
    @media (min-width: 992px) {
        height: 50%;
    }
    width: 5%;
    background: linear-gradient(to right, rgba(#9926f0, 0.92), rgba(#9926f0, 0.2));
    z-index: 999;
}

.carousel-inner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 67%;
    @media (min-width: 768px) {
        height: 55%;
    }
    @media (min-width: 992px) {
        height: 50%;
    }
    width: 5%;
    background: linear-gradient(to right, rgba(#d122e3, 0.2), rgba(#d122e3, 0.92));
    z-index: 999;
}